[user]
	email = faraz.shaikh@gmail.com
	name = Faraz Shaikh
[core]
	editor = "emacsclient -s ~/.emacs.d/server "
	excludesfile = ~/.gitignore
[user]
        name = faraz
        email = faraz.shaikh@gmail.com

[diff]
        tool = edifftwin
        guitool = edifftwin

[difftool "edifftwin"]
        cmd = emacsclient -s ~/.emacs.d/server --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool "ediff"]
        cmd = ~/ediff.sh $LOCAL $REMOTE  $MERGED

[merge]
        tool = ediff
	conflictStyle = diff3

[mergetool "ediff"]
        cmd = ~/ediff.sh $LOCAL $REMOTE $MERGED $BASE
        trustExitCode = true
[commit]
        template = ~/.gitmessage

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    l = log --graph --decorate --pretty=oneline --abbrev-commit --max-count=5

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard
    graph = log --all --graph --oneline --decorate
[rerere]
        enabled = true

[format]
        outputdirectory=patches
