Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgbt
Xft.dpi:96

XTerm*selectToClipboard:false
XTerm*rightScrollBar: true
XTerm*scrollBar: true
XTerm*renderFont: true
XTerm*metaSendsEscape: true
XTerm*termName: xterm-256color

xterm*selectToClipboard:false
xterm*rightScrollBar: true
xterm*scrollBar: true
xterm*renderFont: true
xterm*metaSendsEscape: true
xterm*termName: xterm-256color

UXTerm*selectToClipboard:false
UXTerm*rightScrollBar: true
UXTerm*scrollBar: true
UXTerm*renderFont: true
UXTerm*metaSendsEscape: true
UXTerm*termName: xterm-256color