Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgbt
Xft.dpi:192

XTerm*selectToClipboard:false
XTerm*rightScrollBar: true
XTerm*scrollBar: true
XTerm*metaSendsEscape: true
XTerm*termName: xterm-256color
XTerm*metaSendsEscape: true



xterm*selectToClipboard:false
xterm*rightScrollBar: true
xterm*scrollBar: true
xterm*metaSendsEscape: true
xterm*termName: xterm-256color
xterm*metaSendsEscape: true


