[Desktop Entry]
Name=EmacsDesktop
Comment=EmacsDesktop
Exec=/usr/share/xsessions/emacsdesktop.sh
TryExec=emacs
Type=Application
X-LightDM-DesktopName=EmacsDesktop
DesktopNames=EmacsDesktop
