[Desktop Entry]
Name=EmacsDesktop
Comment=EmacsDesktop
Exec=~/emacsdesktop.sh
TryExec=emacs
Type=Application
X-LightDM-DesktopName=EmacsDesktop
DesktopNames=EmacsDesktop
