[Desktop Entry]
Name=EmacsDesktop
Comment=EmacsDesktop
Exec=/home/spdk/emacsdesktop.sh
TryExec=emacs
Type=Application
X-LightDM-DesktopName=EmacsDesktop
DesktopNames=EmacsDesktop
